html
	head
	body
		h3 Log in below:
		form(method="POST", action="/login")
			label.Firstname
				input(type="text" name="username" placeholder="username") 
			label.Lastname
				input(type = "password" name="password", placeholder="Password")
			input(type= "submit", value="Submit")
