html
	head
	body
		nav
			ul(id="listNavbar")
				li
					a(href="/signup") Sign Up!
				li
					a(href="/") Home
				li
					a(href="profile") Profile
				li
					a(href="userMessages") User Posts 
				li
					a(href="posts") Post Comment
				li
					a(href="logout") Log out

	style.
		nav{
		display: block;
		background-color: #EFEEEA;
		opacity: 0.5;
		color: black;
		width: 100%;
		}
		nav:hover {
		opacity: 0.7;
		}

		#listNavbar{


		}