html
	head
		style
			include standard.css
	body(id="profileBody")
		h2(id="profileH2")  Dit is #{user}'s Profiel!
		include navbar
		h4 Post your message:
		p
			include messages
	style.
		.profileH1{
		display: block;
		background-color: gray;
		padding : 4px;
		}

		#profileBody{
		background-color:#e0d9d9;
		}
